@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.4 Oswald, sans-serif;
    color: #000000;
}

body {
    background-color: whitesmoke;
}

body,
table,
input,
button {
    font: inherit;
}

button,
a {
    display: flex;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

/* Navigation */
.navigation {
    max-width: 100;
    display: flex;
    padding: 3em;
    justify-content: space-between;
    background-color: #2c3c4c;
    /* opacity: 0.8; */
    /* box-shadow: inset -0.5em -1em 1em #f0f1f3,
    inset 0.5em 1em 1em #f0f1f3; */

}
.navigation h3 {
    color: #ffffff;
}

.navigation ul {
    display: flex;
    gap: 0.5em;
    list-style-position: inside;
}

.navigation ul li {
    list-style-type: none;

}

.navigation ul li a {
    background-color: #ffffff;
    text-decoration: none;
    padding: 0.5em;
    color: #2c3c4c;
    line-height: 0.5em;
    border-radius: 0.5em;
}

.navigation ul li a:hover,
td button:hover,
td a:hover {
    box-shadow: inset 0 0 0.8em #2c3c4c;
}


.input-form form .loading {
    background-color: gray;
}

.warning {
    background-color: #f77b1b;
    color: #ffffff;
}

.late {
    background-color: #cf1e35;
    color: #ffffff;
}
.gray {
    background-color: gray;
    color: #ffffff;
}

#root {
    display: flex;
    flex-direction: column;
    background-color: #f0f1f3;
    /* background-image: url("https://res.cloudinary.com/dtwyysfkn/image/upload/v1744748885/pinci_small_dvlcmy.jpg");
    background-repeat: repeat; */
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 3em auto;
}

.list {
    overflow: hidden;
    border-radius: 0.5em;
    /* box-shadow: 0 0 2em #cf1e35; */
}

.list table {
    border-spacing: 0em;
    background-color: #ffffff;
    opacity: 0.9;
    font-size: 1.3em;
}

td,
th {
    vertical-align: middle;
    padding: 0.5em;
    text-align: center;
}

td button,
td a {
    background-color: transparent;
    border: none;
    overflow: hidden;
    color: #cf1e35;
    height: 1.5em;
    width: 1.5em;
    border-radius: 0.5em;
}

i {
    background-color: #f0f1f3;
    min-width: 100%;
    min-height: 100%;
    padding: 0.3em;
}

.functions {
    display: flex;
    align-items: stretch;
    gap: 0.5em;

}
.functions > button:hover,
.functions > a:hover {
    box-shadow: 0 0 0.8em #2c3c4c;
}
.error {
    padding: 0.4em 1em;
    background-color: #D34E24;
    border-radius: 0.3em;
    text-align: center;
}
.error h2 {
    color: #ffffff;
    text-transform: uppercase;
}

.input-form form {
    display: flex;
    flex-direction: column;
    color: #cf1e35;
    font-size: 1.3em;
}

.input-form form input {
    background-color: #ffffff;
    opacity: 0.8;
    color: #cf1e35;
    padding: 0.3em;
    border-radius: 0.3em;
}

.input-form form label {
    text-align: center;
    margin: 0.5em;
}

.input-form form button {
    margin-top: 2em;
    justify-content: center;
    background-color: #cf1e35;
    color: #ffffff;
    padding: 0.3em;
    border-radius: 0.3em;
}

.input-form form button:hover {
    box-shadow: 0 0 0.8em #851322;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 10em;
    height: 5em;
    padding: 2px 0;
    box-sizing: border-box;
    display: flex;
    animation: l5-0 3s infinite steps(6);
    background:
        linear-gradient(#cf1e35 0 0) 0 0/0% 100% no-repeat,
        radial-gradient(circle 3px, #f0f1f3 90%, #cf1e35) 0 0/20% 100% #cf1e35;
    overflow: hidden;
}

.loader::before {
    content: "";
    width: 4em;
    transform: translate(-100%);
    border-radius: 50%;
    background: #f0f1f3;
    animation:
        l5-1 .3s .153s infinite steps(5) alternate,
        l5-2 3s infinite linear;
}

@keyframes l5-1 {
    0% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0, 0 0, 0 100%, 100% 100%, 100% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 100% 65%, 100% 0, 0 0, 0 100%, 100% 100%, 100% 35%)
    }
}

@keyframes l5-2 {
    100% {
        transform: translate(90px)
    }
}

@keyframes l5-0 {
    100% {
        background-size: 120% 100%, 20% 100%
    }
}

/* HTML: <div class="loader-small"></div> */
.loader-clock {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.loader-small {
    width: 2.5em;
    aspect-ratio: 1;
    display: flex;
    color: #cf1e35;
    border: 4px solid;
    box-sizing: border-box;
    border-radius: 50%;
    background:
        radial-gradient(circle 5px, currentColor 95%, #0000),
        linear-gradient(currentColor 50%, #0000 0) 50%/4px 60% no-repeat;
    animation: l1 2s infinite linear;
}
.extra-small {
    width: 1.6em;
}

.loader-small:before {
    content: "";
    flex: 1;
    background: linear-gradient(currentColor 50%, #0000 0) 50%/4px 80% no-repeat;
    animation: inherit;
}

@keyframes l1 {
    100% {
        transform: rotate(1turn)
    }
}
@media screen and (max-width:980px) {
    html {
        font-size: 10px;
    }

}

@media screen and (max-width:666px) {
    html {
        font-size: 8px;
    }
    .functions {
        flex-direction: column;
        gap: 1.3em;
    }

}
@media screen and (max-width:495px) {
    html {
        font-size: 6px;
    }

    .clientName, .creator {
        display: none;
    }
}
